#application_process.modal.fade{'tabindex':-1 , 'role':'dialog','aria-labelledby':'application_process'}
	.modal-dialog.modal-lg{'role':'document'}
		.modal-content
			.container
				.h1
					%i 
						%u Process to apply
				.margin
				%ol.lead
					%li 
						Collect the required documents
						%br
						List of some documents is given below
						%br
						%ul 
							%li 
								In case of lost degree, 
								%b File an FIR
					%li Select your college
					%li You must know the details of your college like the enrollment number, batch etc
					%li Once the application process is completed, pay through our onlinr service and request the degree from your desired college.
					%li You can track your degree's status in your profile page, or can simple click on the notification icon at top right corner
							

					