.margin
#div1
	.col-xs-6
		%p
			Lost Your Degree ?
		%small College is hard but not as hard as life without degree
		.margin
		.recoverybtn
			=link_to 'Recover' , new_request_path , class: 'btn btn-default btn-lg'
	.col-xs-4.col-sm-offset-1
		=image_tag 'iphone_6_3' , class:'iphone6'

.about_us.text-center
	.container
		.lead
			About Us
			%hr
		%small
			Our dedicated team put their best efforts to deliver you your lost/stolen degrees. 
			%br
			We make sure that you get what you want to your doorsteps.
	.container
		.col-sm-3
			.flashcard
				.about_text.text_center 
					You Make A Request
				.glyphicon.glyphicon-pencil.about_icon
		.col-sm-3
			.flashcard
				.about_text.text_center 
					We Contact Your College
				.glyphicon.glyphicon-earphone.about_icon
		.col-sm-3
			.flashcard
				.about_text.text_center 
					We Collect your Degree
				.glyphicon.glyphicon-shopping-cart.about_icon
		.col-sm-3
			.flashcard
				.about_text.text_center 
					we deliver it to you
				.glyphicon.glyphicon-plane.about_icon
	.text-center
		=image_tag 'testimonials-1.png'

.corousal_div.testimonial
	#carousel_home.carousel.slide{ 'data-ride':"carousel"}
		%ol.carousel-indicators
			%li{'data-target':"#carousel_home" ,'data-slide-to':"0" ,'class':"active"}
			%li{'data-target':"#carousel_home" ,'data-slide-to':"1"}
			%li{'data-target':"#carousel_home" ,'data-slide-to':"2"}
			%li{'data-target':"#carousel_home" , 'data-slide-to':"3"}
		.carousel-inner{'role':"listbox"}
			.item.active
				=image_tag 'testimonial-2'
				.carousel-caption Testimonials
			.item
				=image_tag 'testi-3'
				.carousel-caption Testimonial 1
			.item
				=image_tag 'testi-1'
				.carousel-caption Testimonial 2
			
			.item
				=image_tag 'testi-2'
				.carousel-caption Testimonial 3


		%a.left.carousel-control{'href':"#carousel_home" ,'role':"button", 'data-slide':"prev"}
			%span.glyphicon.glyphicon-chevron-left{'aria-hidden':"true"}
		%a.right.carousel-control{'href':"#carousel_home" ,'role':"button", 'data-slide':"next"}
			%span.glyphicon.glyphicon-chevron-right{'aria-hidden':"true"}

.margin
#image_detail_row.row
	.col-sm-4.detail
		=image_tag 'khamba'
	.col-sm-4.detail
		=image_tag 'im-lost'
	.col-sm-4.detail
		=image_tag 'stress'
.margin
.about_us.text-center
	.container
		.lead
			Associated Universities
			%hr
		%small
			We have collaborated with all the Institutions of our Amity University, and are always expanding to other universities. 
			%br
			If you don't find your college, let us know in feedbacks below.
	.container
		#flashcardunivdiv
			.col-sm-3
				.univflashcard
					=image_tag 'University_1' , class:'univimg'
					%p.univtxt.text-center
						.h3
							ASET
							%br
							%small
								Amity University, UP
			.col-sm-3
				.univflashcard
					=image_tag 'university_2' , class:'univimg'
					%p.univtxt.text-center
						.h3
							ABS
							%br
							%small
								Amity University, UP
			.col-sm-3
				.univflashcard
					=image_tag 'university_3' , class:'univimg'
					%p.univtxt.text-center
						.h3
							AIB
							%br
							%small
								Amity University, UP
			.col-sm-3
				.univflashcard
					=image_tag 'university_4' , class:'univimg'
					%p.univtxt.text-center
						.h3
							ALS
							%br
							%small
								Amity University, UP
		=link_to 'More' , partners_path ,class:'btn btn-default btn-lg mybtn'
%hr
#faq.container
	.h1.text-center
		Frequently Asked Questions
		%br
		%small
			While we have answered some of your queries, feel free to ask us more.


	.margin
	#question_divs
		.q1.q
			.h3
				What is Recoverker ?
				%span.caret
				%br

			.ans.faqans
				Recoverker is a special portal designed to help 
				%b anyone who has lost his degree or marksheet 
				somewhere, or anyone who didn't come to his convocation due of any reason. It is really easy to use and effortless to get your degree. We ensure doorstep delivery of your degree.
		%hr
		.q2.q
			.h3
				Is Recoverker free ?
				%span.caret
				%br

			.ans2.faqans
				Recoverker is free to fill forms and send request to th college, but once you make a request colleges charge some fees for giving the degree back, since every college has different fee mechanism, your fee is dependent on that. We charge a small amount of convenience fee for shipping it to your address.

		%hr
		.q2.q
			.h3
				What are the documents we need?
				%span.caret
				%br

			.ans2.faqans
				In order to get your degree, you may need to 
				%b register an FIR 
				in case of lost degree. Every college has different requirments so, we will give you information based on your college. 
				%br
				%b One thing 
				common in all the colleges is that you will need an 
				%b authentication letter 
				so that collee can give us degree on your behalf.
#feedback
	.h1.text-center
		We Appreciate your feeback
	.margin
	-if user_signed_in?
		= simple_form_for @feedback do |f|
			.form-group
				=f.input :content
				=f.submit "Tell Us What You Think" ,class:'btn btn-warning btn-lg'
	-else
		.h2.text-center
			Create you Account to Provide Feedbacks
			or 
			=link_to 'Contact Us' , '#'
			for any queries.
			%br
			=link_to 'Login' , user_session_path , class:'btn btn-warning btn-lg'


