#index_main_div.container-fluid
	.container-fluid
		#searchdiv.col-sm-9.col-xs-12
			.lead.text-center
				= @college.count 
				Results match your search
			%ol
				-@college.each do |college|
					-if @college.any?
						#searchresult.flex
							%li			
								- if college.image?
									=image_tag college.image , class: 'college_image thumbnail'
								-else
									No College match the given query
								=college.name									
			
			.margin
			.margin
			%hr					
			.lead.text-center
				Some suggested colleges are :-
											