.container-fluid
	.lead.text-center
		College Details	
	=simple_form_for @request ,defaults: { required: true} ,url: wizard_path do |f|
		=f.input :reason, required: false
		=f.input :enrollment_no 
		=f.input :year_of_exam
		=f.input :semester
		=f.input :batch
		=f.input :course
		.lead *`Details of Admission to Courses of Higher Studies/Employment after qualifying your degree from AMITY UNIVERSITY*
		=f.input :hsemployer , label: "Name and Adress of Employer" , placeholder: 'If any ?', required: false
		=f.input :hsuniversity,  label: "Name of University/Company", required: false
		=f.input :hsprogramme ,  label: "Name of Program/Post", required: false
		=f.input :extras , { maxlength: 2000 , minlength: 2}

		.lead
			*Please Enclose a copy of FIR lodged with Police station in case of loss of document and duplicate copy of such documet is required*
		= f.input :fircopy , as: :file, required: false
		= f.submit "Submit"
		=link_to 'Previous' , previous_wizard_path
	.margin