!!!
%html
	%head
		%title
			RecoverKer
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		.container-fluid
			=notice
			=alert
			%header
				.text-center.row.upper-row
					.logo.h2.col-sm-4=link_to 'Recoverker' , root_path
					.col-sm-4{'style':'padding-top:30px;'}
						- if !user_signed_in?
							=link_to new_user_session_path do
								%span.glyphicon.glyphicon-user
								%br 
								Login
						-else
							=link_to current_user.firstname+' '+current_user.lastname , current_user
							%br
							=link_to 'Sign out' ,destroy_user_session_path, method: :delete , data: {confirm: 'Are you sure ?'}
					.col-sm-4{'style':'padding-top:30px;'}
						.dropdown
							%a.dropdown-toggle{'data-toggle':'dropdown','role':'button','aria-haspopup':'true','aria-expanded':'false'}	
								%span=image_tag 'track' , class:'icon'
								%br
								Track your Degree
							-if user_signed_in?		
								%ul.dropdown-menu
									-current_user.requests.each do |r|
										%li=link_to  'Request Id '+r.id.to_s , r
						


				%hr
				%nav.navbar.navbar-default
					.container-fluid
						.navbar-header
							%button{'type':'buutton','class':'navbar-toggle collapsed','data-toggle':'collapse','data-target':'#college','aria-expanded':"false"}
								%span.icon-bar
								%span.icon-bar
								%span.icon-bar
						#college.collapse.navbar-collapse
							%ul.nav.navbar-nav
								%li=link_to 'Home' , root_path
								%li{'data-target':'#application_process' , 'data-toggle':'modal'} 
									.help_link Application Process
								%li=link_to 'Apply' , new_request_path


							#searchform
								.navbar-form.navbar-left{'role':'search'}
									=form_tag colleges_path , method: :get do 
										.form-group
											=text_field_tag :college_search, params[:college_search]  , class: 'form-control', 'placeholder': 'Search'
											=submit_tag 'search' , name: nil , class: 'btn'


		.container-fluid
			=yield
=render 'home/help'
